<h2 style= "color:#117A65;">Members</h2>

<div class="member">
  <h4><a href="/members/new"> Add member</a></h4>
</div>
<div class="members-table">
  <table>
    <thead>
      <tr>
        <th scope= "col">Name</th>
        <th scope= "col">Age</th>
        <th scope= "col">Gender</th>
        <th scope= "col">Session</th>
      </tr>
    </thead>
    <% @members.each do |member| %>
    <tr>
      <td><a href="/members/<%= member.id %>"><%= member.format_name%></td>
        <td><%= member.age %></td>
        <td><%= member.gender.capitalize %></td>
        <td><a href="/bookings/new?member_id=<%= member.id %>"> Book session</a></td>
      </tr>
      <% end %>
    </table>

  </div>
